ASPNETCORE_ENVIRONMENT=Development
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000
FRONTEND_BASE_URL=http://localhost:5173

MEAL_PLANNER_DB=Host=host.docker.internal;Port=5432;Database=meal_planner_db;Username=postgres;Password=admin

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=meal.planner.project.no.reply@gmail.com
SMTP_PASSWORD=CAMBIAR_POR_PASSWORD_DE_APLICACION
SMTP_FROM=meal.planner.project.no.reply@gmail.com
SMTP_ALLOW_INVALID_CERTIFICATES=true
SMTP_TIMEOUT_SECONDS=15

VITE_API_BASE_URL=http://localhost:8080
